<div id="header">
  <div id="wrapper">
    <h1><a href="/">Deutscher Ipsum Generator</a></h1>
    <h3>Make your website more organised, punctual and professionally engineered.</h3>
  </div>  
</div>

<div id="wrapper">
  <p>Is your project lacking structure and organisation? Not as well engineered as it could be? Are the words in your standard Lorem Ipsum generator just too short? Do you need more sausages in your placeholder text?</p>
  <p>Deutscher Ipsum Generator to the rescue!</p>
</div>

<div id="selections">

  <div class='step'>
    <h2>Step 1</h2>
    <p>Choose the amount of paragraphs you need.</p>
    <form id="user-selection">
      <select id="paras">
        <option value="1">1 paragraph</option>
        <option value="2">2 paragraphs</option>
        <option value="3">3 paragraphs</option>
        <option value="4">4 paragraphs</option>
        <option value="5">5 paragraphs</option>
      </select>
  </div>

  <div class='step'>
    <h2>Step 2</h2>
    <p>Select the strength of Germanness for your project.</p>
    <div id="strength">
      <div id="radiobutton">
      <input type="radio" name="strength" value='light' checked> Light  
      </div>
      <div id="radiobutton">
      <input  type="radio" name="strength" value="medium" > Serious  
      </div>
      <div id="radiobutton">
      <input  type="radio" name="strength" value="strong" > Über  
      </div>
    </div>
  </div>

  <div class='step'>
    <h2>Step 3</h2>
    <p>Generate yourself some Deutsches Ipsum.</p>
    <button class="btn slideDown">Schnell, schnell!</button>
  </div>

  </form>
</div> <!-- Closing selection div -->

<div id='lorem'>
  <div id="wrapperbottom"><br> ---- Here be Deutsches Ipsum ----  <br><br></div>
</div>


<div id='footer-background'>
<div id="wrapper">
<footer>
  Deutsches Ipsum was created by me, <a href="http://rabeameetscode.wordpress.com" target="_blank"> Rabea Gleissner</a>, during my first ever 24 hour Hackathon. <br> If you feel like any of your favourite German words are missing, <a href="https://twitter.com/aebaR" target="_blank">tweet me</a> and I'll see if I can add them.
</footer>
</div>
</div>




