<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deutscher Ipsum Generator</title>
  <link rel='stylesheet' href='/css/normalise.css'>
  <link rel='stylesheet' href='/css/style.css'>
  <link rel="icon" type="image/jpeg"  href="/favicon-deutscher-ipsum.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/jquery-1.11.0.min.js" type="text/javascript"> </script>
  <script src="/js/main.js" type="text/javascript"></script>

  <meta name="German Lorem Ipsum generator." content="A Lorem Ipsum generator that spikes your standard placeholder text with fun German words.">
</head>
  <body>

    <%= yield %>

  </body>
</html>